/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #e8eef0;
  text-decoration: none;
}

a:hover {
  color: #dee7eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #1e2931;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #797b7d;
  border: 3px solid #1e2931;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header #1E2931
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #1e2931;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 140px;
  border: 8px solid #464a5c;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: rgb(221, 206, 206);
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

header .info {
  padding: 10px;
  width: 100%;
}

header .info i {
  font-size: 18px;
  color: #030303;
  float: left;
  width: 34px;
  height: 34px;
  background: #cfcdcd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

header .info h4 {
  padding: 0 0 0 60px;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #cdcdcd;
}

header .info p {
  margin-bottom: 30px;
  margin-left: 60px;
  font-size: 14px;
  color: #d1d1d1;
  width: 200%;
}

header .info .email p {
  padding-top: 5px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 20px 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  margin-left: 50px;
}
.nav-link span {
  text-decoration: underline;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #d7d9e4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 17px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #a2a4ab;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
  color: #eee7e7;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #1e2931;
  color: #fff;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 65vh;
  background: url("../img/main4.jpg") bottom center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  .contact h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .contact h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
  background-color: #bbbdbe;
}

.section-title h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 40px;
  padding-bottom: 7px;
  position: relative;
  color: 1e2931;
  text-align: center;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 3px;
  background: #1e2931;
  bottom: 0;
  left: calc(50% - 60px);
}

.section-title p {
  margin: 35px 10px;
  padding: 5px;
  text-align: center;
  color: #1e2021;
  font-size: 18px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 20px;
}
.contact .container {
  padding: 0px;
}

.contact h1 {
  margin: 0px 0 10px;
  font-size: 25px;
  font-weight: 800;
  line-height: 37px;
  color: rgb(221, 206, 206);
  background-color: #1e2931;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form {
  width: 100%;
  padding: 20px;
  background: #1e2931;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  color: #cfcdcd;
  margin: 10px 100px;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: #cfcdcd;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #1e2931;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 15px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #1e2931;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #1e2931;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #1e2931;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 5px;
}

.contact .php-email-form label {
  padding-bottom: 5px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border: 1px solid #1e2931;
  background-color: #a3a3a3;
}

.contact .php-email-form input {
  height: 35px;
}

.contact .php-email-form textarea {
  padding: 10px 15px;
  height: 85px;
  background-color: #a3a3a3;
}

.contact .php-email-form button[type="submit"] {
  background: #a3a3a3;
  border: 0;
  padding: 10px 24px;
  color: #1e2931;
  transition: 0.4s;
  border-radius: 4px;
  font-weight: 700;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #d1d0d0;
  color: #0d0f10;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
